<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/png" th:href="@{/assets/images/logo/logo.png}" />
    <title>Admin Dashboard</title>
    <link rel="stylesheet" th:href="@{/assets/css/adminDashboard.css}" />
    <link rel="stylesheet" th:href="@{/assets/css/style.css}" />
    <script th:src="@{/js/util.js}" defer></script>
    <script th:src="@{/js/render.js}" defer></script>
    <script th:src="@{/js/components/header.js}" defer></script>
    <script th:src="@{/js/components/footer.js}" defer></script>
</head>
<body onload="renderContent()">
    <div class="container">
        <div class="wrapper">
            <div id="header"></div>
            <main class="main-content">
                <div class="controls">
                    <input type="text" id="searchBar" placeholder="Search for doctors...">
                    <select id="timeFilter">
                        <option value="">Filter by Time</option>
                        <option value="AM">AM</option>
                        <option value="PM">PM</option>
                    </select>
                    <select id="specialtyFilter">
                        <option value="">Filter by Specialty</option>
                        <option value="Cardiologist">Cardiologist</option>
                        <option value="Dentist">Dentist</option>
                        <option value="Pediatrician">Pediatrician</option>
                        <option value="Dermatologist">Dermatologist</option>
                    </select>
                </div>
                <div id="content"></div>
            </main>
            <div id="footer"></div>
        </div>
    </div>

    <div id="modal-overlay" class="modal-overlay">
        <div class="modal-content">
            <span class="close-button">&times;</span>
            <div id="modal-body"></div>
        </div>
    </div>

    <script type="module" th:src="@{/js/adminDashboard.js}" defer></script>
    <script type="module" th:src="@{/js/doctorCard.js}" defer></script>
</body>
</html>
